h1 {
    color: chocolate;
    border: 1px solid black;
}

p,
li {
    color: green;
    list-style-type: none;
}

li em {
    color: rebeccapurple;
}

.special {
    color: orange;
    font-weight: bold;
}

h1 + p {
    font-size: 200%;
}

a:link {
    color: pink;
}

a:visited {
    color: rgb(128, 128, 128);
}

a:hover {
    text-decoration: none;
    color: hotpink;
}

.outer {
    border: 2px solid black;
}

.inner {
    padding: 10px;
    width: calc(80% - 30px);
    background-color: rebeccapurple;
    color: pink;
    font-size: 125%;
}

.box {
    border: 5px solid rebeccapurple;
    margin: 1em;
}
article p:first-child::first-line {
    font-size: 130%;
    font-weight: bold;
}

.warning::before {
    content: "Warning!";
    font-size: 200%;
    font-weight: bold;
}

h1 ~ p {
    font-weight: bold;
    padding: .5em;
}

:where(a.author) {
    text-decoration: overline;
    color: red;
}

.inline-block-span {
    margin: 1em;
    padding: 1em;
    width: 80px;
    height: 50px;
    background-color: lightblue;
    border: 5px solid blue;
    border-top-right-radius: 30%;
    display: inline-block;
}

.horizontal {
    writing-mode: horizontal-tb;
}

.vertical {
    writing-mode: vertical-rl;
}